.iframeclip
{
	height: 350px;
}

.clipbox
{
	padding: 2% 2% 2% 2%;
}

.gamebox
{
	padding: 2% 2% 2% 2%;
	color: black;
}

.clipTitle
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

body 
{
	color: black;
}

.jumbheader
{
	padding: 1% 1% 1% 1%;
    margin-top: 7%;
    text-align: center;
    background-color: rgba(255,255,255, 0);
    margin-bottom: 0%
}