html,
body,
.view {
            height: 100%;
            color: black;
}
/* Navigation*/

.navbar {
background-color: transparent;
}

.scrolling-navbar {
-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
background-color: #303f5d;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
footer.page-footer {
background-color: #3c4f74;
margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
.navbar {
background-color: #1C2331;
}
}
/*Call to action*/

.flex-center {
color: #fff;
}

.view {
background: url("../images/homepage-background2.jpg")no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
/*Contact section*/

#contact .fa {
font-size: 2.5rem;
margin-bottom: 1rem;
color: #1C2331;
}

.gamebox
{
    margin-bottom: 5%;
}

.game-image
{
	width: 100%;
	height: 100%!important
}

.gamename
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gamecounts
{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* For mobiles */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.mobile-gamebox 
	{
		width: 50%;
	}
	.gamename
	{
		font-size: 1.3rem;
	}

}