html, body
{
    width: 100%;
    height: 100%;
}
body
{
	color : white;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.iframeclip
{
	height: 350px;
	margin-bottom: 25px;
}

.btnTwontage
{
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.33);
}

.btnTwontage:hover
{
	background: linear-gradient(to bottom, rgba(150,3,41,1) 0%,rgba(130,2,34,1) 44%,rgba(90,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: white;
}

.btnTwontage:focus
{
	color: white;
}

.jumbheader
{
	padding: 1% 1% 1% 1%;
    margin-top: 7%;
    text-align: center;
    background-color: rgba(255,255,255, 0);
    color: white;
    margin-bottom: 0%
}

.splitTitle
{
	margin-top: 0%;
	margin-bottom: 2%
}

.clipbox
{
	padding: 2% 2% 2% 2%;
}

.gamebox
{
	padding: 2% 2% 2% 2%;
	color: black;
}

.clipIframe
{
	margin-top: 3%;
}

.gamename
{
    font-size: 15px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    height: 3em;
}

.gameimg
{
	margin-top: 3%;
}